@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400|Crimson+Text:700,400|Source+Serif+Pro:400,600");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/67227c37a99c8811bfba1bcc.67227c38a99c8811bfba1bcf.ZIA6Iv7.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-end {
  align-self: flex-end;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.mobile-header-_2 {
  display: flex;
  height: 60px;
  width: 440px;
}

.menu {
  height: 40px;
  width: 45px;
}

.frame-183 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 65px;
  padding: 10px;
  position: absolute;
  top: 124px;
}

.mobile {
  height: 40px;
  position: relative;
  width: 40px;
}

.copyrights-item {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.copyright {
  height: 20px;
  position: relative;
  width: 20px;
}

.return-to-hompage-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 199px;
}